<div id="<%= dom_id book %>">
  <p>
    <strong>Mahs:</strong>
    <%= book.maHS %>
  </p>

  <p>
    <strong>Tenhs:</strong>
    <%= book.tenHS %>
  </p>

  <p>
    <strong>Masach:</strong>
    <%= book.maSach %>
  </p>

  <p>
    <strong>Tensach:</strong>
    <%= book.tenSach %>
  </p>

  <p>
    <strong>Tusach:</strong>
    <%= book.tuSach %>
  </p>

  <p>
    <strong>Ngaymuon:</strong>
    <%= book.ngayMuon %>
  </p>

  <p>
    <strong>Ngaytra:</strong>
    <%= book.ngayTra %>
  </p>

</div>
